trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'nodegoat-app'

steps:
- script: |
    docker run --rm aquasec/trivy fs \
      --exit-code 1 \
      --severity CRITICAL \
      --format table .
  displayName: 'Trivy File System Scan'

- task: Docker@2
  displayName: 'Build Docker Image'
  inputs:
    command: 'build'
    Dockerfile: '**/Dockerfile'
    repository: $(imageName)
    tags: |
      $(Build.BuildId)
      latest

- script: |
    docker run --rm aquasec/trivy image \
      --severity HIGH,CRITICAL \
      $(imageName):$(Build.BuildId)
  displayName: 'Trivy Image Scan'