trigger:
- master

pool:
  name: 'Default'

variables:
  imageName: 'nodegoat-app'

steps:
- script: docker run --rm -v $(System.DefaultWorkingDirectory):/src aquasec/trivy fs --severity High,CRITICAL --format table /src
  displayName: 'Trivy File System Scan'

# - task: Docker@2
#   displayName: 'Build Docker Image'
#   inputs:
#     command: 'build'
#     Dockerfile: '**/Dockerfile'
#     repository: $(imageName)
#     tags: |
#       $(Build.BuildId)
#       latest

# - script: docker run --rm aquasec/trivy image --severity HIGH,CRITICAL $(imageName):$(Build.BuildId)
#   displayName: 'Trivy Image Scan'