trigger:
- master

pool:
  name: 'Default'

steps:
- task: SonarCloudPrepare@3
  displayName: 'Prepare SonarCloud'
  inputs:
    SonarCloud: 'SonarToken'
    organization: $(sonarOrganization)
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: $(sonarProjectKey)
    cliSources: '.'

- task: SonarCloudAnalyze@3
  displayName: 'Run SonarCloud Analysis'

- task: SonarCloudPublish@3
  displayName: 'Publish Sonar Results'
  inputs:
    pollingTimeoutSec: '300'

- task: Docker@2
  displayName: 'Build and Push to Docker Hub'
  inputs:
    containerRegistry: 'MyDockerHubConn'
    repository: '$(imageName)'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest

- script: |
    echo "Starting Trivy Image Scan..."
    docker run --rm \
      -v /var/run/docker.sock:/var/run/docker.sock \
      aquasec/trivy:latest \
      image --exit-code 0 --severity HIGH,CRITICAL $(imageName):latest
  displayName: 'Trivy Security Scan'